<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--
    <add name="Entities" connectionString="metadata=res://*/QuanticaEntities.csdl|res://*/QuanticaEntities.ssdl|res://*/QuanticaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=proger;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/QuanticaEntities.csdl|res://*/QuanticaEntities.ssdl|res://*/QuanticaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=governejunto.czswgqrmxidc.sa-east-1.rds.amazonaws.com;initial catalog=manager;user id=governejuntosa;password=governejunto123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <add name="Entities" connectionString="metadata=res://*/QuanticaEntities.csdl|res://*/QuanticaEntities.ssdl|res://*/QuanticaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=gerenciador;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- NOME DO SITE -->
    <add key="NomeSite" value="Gerenciador de Projetos"/>
    
    <!-- EM MINUTOS -->
    <add key="TempoValidadeLogin" value="60"/> <!-- EM MINUTOS -->
  </appSettings>
  <system.web>
    <pages enableEventValidation="false" enableViewState="true" clientIDMode="Static" />
    <globalization culture="pt-BR" uiCulture="pt-BR" requestEncoding="UTF-8" responseEncoding="UTF-8"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="4194304" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>