USE [gerenciador]
GO
/****** Object:  Table [dbo].[AreaAtuacao_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AreaAtuacao_Tb](
	[IdAreaAtuacao] [int] IDENTITY(1,1) NOT NULL,
	[DsAreaAtuacao] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAreaAtuacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Atividade_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Atividade_Tb](
	[IdAtividade] [int] IDENTITY(1,1) NOT NULL,
	[IdProjeto] [int] NOT NULL,
	[DsTituloAtividade] [varchar](200) NULL CONSTRAINT [DF_Atividade_Tb_DsTituloAtividade]  DEFAULT ('Título da atividade'),
	[QtTempoEstimado] [decimal](10, 3) NULL,
	[QtTempoExecutado] [decimal](10, 3) NOT NULL CONSTRAINT [DF_ProjetoAtividade_Tb_QtTempoExecutado]  DEFAULT ((0)),
	[VrCompletoPorcentagem] [decimal](3, 0) NULL CONSTRAINT [DF__ProjetoAt__VrCom__03F0984C]  DEFAULT ((0.00)),
	[DtInicio] [datetime] NULL,
	[DtTermino] [datetime] NULL,
	[DsAtividade] [text] NULL,
	[IdUsuarioCriacao] [int] NOT NULL,
	[DtCriacao] [datetime] NOT NULL,
	[IdTipoAtividade] [int] NULL,
	[IdAtividadePredecessora] [int] NULL,
	[FlStatus] [char](1) NOT NULL CONSTRAINT [DF__Atividade__FlSta__0D0FEE32]  DEFAULT ('A'),
 CONSTRAINT [PK__ProjetoA__4FCE095002084FDA] PRIMARY KEY CLUSTERED 
(
	[IdAtividade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AtividadeApontamentoTempo_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtividadeApontamentoTempo_Tb](
	[IdAtividadeApontamentoTempo] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdAtividade] [int] NOT NULL,
	[DtInicio] [datetime] NOT NULL,
	[DtTermino] [datetime] NOT NULL,
 CONSTRAINT [PK_AtividadeApontamentoTempo_Tb] PRIMARY KEY CLUSTERED 
(
	[IdAtividadeApontamentoTempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AtividadeLog_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AtividadeLog_Tb](
	[IdAtividadeLog] [int] IDENTITY(1,1) NOT NULL,
	[IdAtividade] [int] NOT NULL,
	[DtInicioAntigo] [datetime] NOT NULL,
	[DtTerminoAntigo] [datetime] NOT NULL,
	[DtInicioNovo] [datetime] NOT NULL,
	[DtTerminoNovo] [datetime] NOT NULL,
	[DsMotivo] [varchar](200) NULL,
	[IdUsuarioAlteracao] [int] NOT NULL,
	[DtAlteracao] [datetime] NOT NULL,
 CONSTRAINT [PK_ProjetoAtividadeHistorico_Tb] PRIMARY KEY CLUSTERED 
(
	[IdAtividadeLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AtividadeTag_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtividadeTag_Tb](
	[IdAtividadeTag] [int] IDENTITY(1,1) NOT NULL,
	[IdAtividade] [int] NOT NULL,
	[IdTag] [int] NOT NULL,
 CONSTRAINT [PK_AtividadeTag_Tb] PRIMARY KEY CLUSTERED 
(
	[IdAtividadeTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AtividadeUsuario_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AtividadeUsuario_Tb](
	[IdAtividadeUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdAtividade] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdUsuarioCriacao] [int] NOT NULL,
	[DtCriacao] [datetime] NOT NULL,
 CONSTRAINT [PK_ProjetoAtividadeUsuario_Tb] PRIMARY KEY CLUSTERED 
(
	[IdAtividadeUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bairro_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bairro_Tb](
	[IdBairro] [int] IDENTITY(1,1) NOT NULL,
	[IdCidade] [int] NOT NULL,
	[DsNome] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBairro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cargo_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cargo_Tb](
	[IdCargo] [int] IDENTITY(1,1) NOT NULL,
	[DsCargo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UsuarioCargo_Tb] PRIMARY KEY CLUSTERED 
(
	[IdCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CargoTipoAtividade_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargoTipoAtividade_Tb](
	[IdCargoTipoAtividade] [int] IDENTITY(1,1) NOT NULL,
	[IdCargo] [int] NOT NULL,
	[IdTipoAtividade] [int] NOT NULL,
 CONSTRAINT [PK_CargoTipoAtividade_Tb] PRIMARY KEY CLUSTERED 
(
	[IdCargoTipoAtividade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cidade_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cidade_Tb](
	[IdCidade] [int] IDENTITY(1,1) NOT NULL,
	[CdUF] [char](2) NOT NULL,
	[DsNome] [varchar](250) NOT NULL,
 CONSTRAINT [PK__Cidade_T__160879A35535A963] PRIMARY KEY CLUSTERED 
(
	[IdCidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contato_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contato_Tb](
	[IdContato] [int] IDENTITY(1,1) NOT NULL,
	[DsTelefoneResidencial] [varchar](16) NULL,
	[DsTelefoneCelular] [varchar](16) NULL,
	[DsTelefoneComercial] [varchar](16) NULL,
	[DsFax] [varchar](16) NULL,
	[DsObservacaoContato] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdContato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empresa_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empresa_Tb](
	[IdEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[IdEndereco] [int] NOT NULL,
	[IdContato] [int] NOT NULL,
	[IdAreaAtuacao] [int] NOT NULL,
	[DsNomeFantasia] [varchar](200) NOT NULL,
	[DsRazaoSocial] [varchar](200) NOT NULL,
	[NrCnpj] [varchar](18) NOT NULL,
	[DsEmail] [varchar](200) NOT NULL,
	[DsSumarioEmpresa] [varchar](200) NULL,
	[FlAceiteTermo] [bit] NOT NULL,
	[DsSite] [varchar](150) NULL,
	[DtCadastro] [datetime] NOT NULL,
	[FlAprovada] [bit] NOT NULL,
	[DtAprovacao] [datetime] NULL,
	[IdUsuarioAprovacao] [int] NULL,
	[DsMotivoRejeicao] [nvarchar](500) NULL,
	[Logo] [varchar](100) NULL,
 CONSTRAINT [PK__Empresa___5EF4033E74AE54BC] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Endereco_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Endereco_Tb](
	[IdEndereco] [int] IDENTITY(1,1) NOT NULL,
	[NrCep] [varchar](10) NULL,
	[DsEndereco] [varchar](200) NULL,
	[NrEndereco] [varchar](20) NULL,
	[DsComplemento] [varchar](50) NULL,
	[IdBairro] [int] NULL,
	[IdCidade] [int] NULL,
	[DsBairroOutro] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEndereco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Projeto_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Projeto_Tb](
	[IdProjeto] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[IdTipoProjeto] [int] NOT NULL,
	[DsNome] [varchar](200) NOT NULL,
	[DtInicioEstimado] [datetime] NULL,
	[DtTerminoEstimado] [datetime] NULL,
	[DsCodigoReferencia] [varchar](20) NULL,
	[FlStatus] [char](1) NOT NULL CONSTRAINT [DF_Projeto_Tb_FlAtivo]  DEFAULT ('E'),
	[IdUsuarioCriacao] [int] NOT NULL,
	[DtCriacao] [datetime] NOT NULL,
 CONSTRAINT [PK__Projeto___B9E1BB5C7C4F7684] PRIMARY KEY CLUSTERED 
(
	[IdProjeto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProjetoInteracao_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjetoInteracao_Tb](
	[IdProjetoInteracao] [int] IDENTITY(1,1) NOT NULL,
	[IdProjeto] [int] NOT NULL,
	[DsHistorico] [text] NOT NULL,
	[DtCriacao] [datetime] NOT NULL,
	[IdUsuarioCriacao] [int] NOT NULL,
 CONSTRAINT [PK_ProjetoHistorico_Tb] PRIMARY KEY CLUSTERED 
(
	[IdProjetoInteracao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tag_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tag_Tb](
	[IdTag] [int] IDENTITY(1,1) NOT NULL,
	[DsTag] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Tag_Tb] PRIMARY KEY CLUSTERED 
(
	[IdTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoAtividade_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoAtividade_Tb](
	[IdTipoAtividade] [int] IDENTITY(1,1) NOT NULL,
	[DsTituloAtividade] [varchar](200) NOT NULL,
	[QtTempoEstimado] [decimal](10, 3) NOT NULL,
	[DsAtividade] [text] NULL,
 CONSTRAINT [PK_ProjetoAtividadePadrao_Tb] PRIMARY KEY CLUSTERED 
(
	[IdTipoAtividade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoAtividadeTag_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAtividadeTag_Tb](
	[IdTipoAtividadeTag] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoAtividade] [int] NOT NULL,
	[IdTag] [int] NOT NULL,
 CONSTRAINT [PK_TipoAtividadeTag_Tb] PRIMARY KEY CLUSTERED 
(
	[IdTipoAtividadeTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoProjeto_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoProjeto_Tb](
	[IdTipoProjeto] [int] IDENTITY(1,1) NOT NULL,
	[DsTipo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoProjeto_Tb] PRIMARY KEY CLUSTERED 
(
	[IdTipoProjeto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoProjetoTipoAtividade_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoProjetoTipoAtividade_Tb](
	[IdTipoProjetoTipoAtividade] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoProjeto] [int] NOT NULL,
	[IdTipoAtividade] [int] NOT NULL,
 CONSTRAINT [PK_TipoProjetoTipoAtividade_Tb] PRIMARY KEY CLUSTERED 
(
	[IdTipoProjetoTipoAtividade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoProjetoTipoAtividadePredecessora_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoProjetoTipoAtividadePredecessora_Tb](
	[IdTipoProjetoTipoAtividadePredecessora] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoProjeto] [int] NOT NULL,
	[IdTipoAtividade] [int] NOT NULL,
	[IdTipoAtividadePredecessora] [int] NULL,
 CONSTRAINT [PK_TipoProjetoTipoAtividadePredecessora_Tb] PRIMARY KEY CLUSTERED 
(
	[IdTipoProjetoTipoAtividadePredecessora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UF_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UF_Tb](
	[CdUF] [char](2) NOT NULL,
	[DsUF] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CdUF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario_Tb](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuarioNivel] [int] NOT NULL,
	[DsNome] [varchar](200) NULL,
	[DsEmail] [varchar](200) NOT NULL,
	[DtValidadeLogin] [datetime] NULL,
	[DsHashLogin] [varchar](max) NULL,
	[DsSenha] [nvarchar](250) NULL,
	[IdCargo] [int] NOT NULL,
 CONSTRAINT [PK__Usuario___5B65BF9768487DD7] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsuarioNivel_Tb]    Script Date: 2/7/2015 03:36:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UsuarioNivel_Tb](
	[IdUsuarioNivel] [int] IDENTITY(1,1) NOT NULL,
	[DsNivel] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuarioNivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AreaAtuacao_Tb] ON 

INSERT [dbo].[AreaAtuacao_Tb] ([IdAreaAtuacao], [DsAreaAtuacao]) VALUES (13, N'Academia de Esportes / Artes Marciais')
INSERT [dbo].[AreaAtuacao_Tb] ([IdAreaAtuacao], [DsAreaAtuacao]) VALUES (14, N'Açúcar e Álcool')
INSERT [dbo].[AreaAtuacao_Tb] ([IdAreaAtuacao], [DsAreaAtuacao]) VALUES (15, N'Administração e Participação')
SET IDENTITY_INSERT [dbo].[AreaAtuacao_Tb] OFF
SET IDENTITY_INSERT [dbo].[Atividade_Tb] ON 

INSERT [dbo].[Atividade_Tb] ([IdAtividade], [IdProjeto], [DsTituloAtividade], [QtTempoEstimado], [QtTempoExecutado], [VrCompletoPorcentagem], [DtInicio], [DtTermino], [DsAtividade], [IdUsuarioCriacao], [DtCriacao], [IdTipoAtividade], [IdAtividadePredecessora], [FlStatus]) VALUES (1, 3, N'asdasd', NULL, CAST(0.000 AS Decimal(10, 3)), CAST(0 AS Decimal(3, 0)), CAST(N'2013-11-11 00:00:00.000' AS DateTime), CAST(N'2013-12-12 00:00:00.000' AS DateTime), N'teste', 2, CAST(N'2013-11-22 15:08:39.817' AS DateTime), NULL, NULL, N'L')
INSERT [dbo].[Atividade_Tb] ([IdAtividade], [IdProjeto], [DsTituloAtividade], [QtTempoEstimado], [QtTempoExecutado], [VrCompletoPorcentagem], [DtInicio], [DtTermino], [DsAtividade], [IdUsuarioCriacao], [DtCriacao], [IdTipoAtividade], [IdAtividadePredecessora], [FlStatus]) VALUES (2, 22, N'Criação Banner', CAST(8.000 AS Decimal(10, 3)), CAST(0.000 AS Decimal(10, 3)), CAST(0 AS Decimal(3, 0)), CAST(N'2013-11-22 00:00:00.000' AS DateTime), CAST(N'2013-11-22 00:00:00.000' AS DateTime), N'Criação de banner', 2, CAST(N'2013-11-22 15:32:49.370' AS DateTime), NULL, NULL, N'A')
INSERT [dbo].[Atividade_Tb] ([IdAtividade], [IdProjeto], [DsTituloAtividade], [QtTempoEstimado], [QtTempoExecutado], [VrCompletoPorcentagem], [DtInicio], [DtTermino], [DsAtividade], [IdUsuarioCriacao], [DtCriacao], [IdTipoAtividade], [IdAtividadePredecessora], [FlStatus]) VALUES (3, 22, N'Animação do Banner', CAST(999.983 AS Decimal(10, 3)), CAST(0.000 AS Decimal(10, 3)), CAST(0 AS Decimal(3, 0)), CAST(N'2013-11-22 00:00:00.000' AS DateTime), CAST(N'2013-11-23 00:00:00.000' AS DateTime), N'Animação de banner', 2, CAST(N'2013-11-22 15:32:49.370' AS DateTime), NULL, 2, N'A')
SET IDENTITY_INSERT [dbo].[Atividade_Tb] OFF
SET IDENTITY_INSERT [dbo].[AtividadeTag_Tb] ON 

INSERT [dbo].[AtividadeTag_Tb] ([IdAtividadeTag], [IdAtividade], [IdTag]) VALUES (148, 22, 2)
INSERT [dbo].[AtividadeTag_Tb] ([IdAtividadeTag], [IdAtividade], [IdTag]) VALUES (200, 47, 57)
INSERT [dbo].[AtividadeTag_Tb] ([IdAtividadeTag], [IdAtividade], [IdTag]) VALUES (201, 47, 58)
SET IDENTITY_INSERT [dbo].[AtividadeTag_Tb] OFF
SET IDENTITY_INSERT [dbo].[AtividadeUsuario_Tb] ON 

INSERT [dbo].[AtividadeUsuario_Tb] ([IdAtividadeUsuario], [IdAtividade], [IdUsuario], [IdUsuarioCriacao], [DtCriacao]) VALUES (69, 22, 2, 2, CAST(N'2013-11-25 11:43:01.257' AS DateTime))
INSERT [dbo].[AtividadeUsuario_Tb] ([IdAtividadeUsuario], [IdAtividade], [IdUsuario], [IdUsuarioCriacao], [DtCriacao]) VALUES (70, 22, 3, 2, CAST(N'2013-11-25 11:43:08.240' AS DateTime))
INSERT [dbo].[AtividadeUsuario_Tb] ([IdAtividadeUsuario], [IdAtividade], [IdUsuario], [IdUsuarioCriacao], [DtCriacao]) VALUES (71, 47, 2, 2, CAST(N'2015-02-05 22:05:27.277' AS DateTime))
SET IDENTITY_INSERT [dbo].[AtividadeUsuario_Tb] OFF
SET IDENTITY_INSERT [dbo].[Cargo_Tb] ON 

INSERT [dbo].[Cargo_Tb] ([IdCargo], [DsCargo]) VALUES (1, N'Programador')
INSERT [dbo].[Cargo_Tb] ([IdCargo], [DsCargo]) VALUES (2, N'Animador Flash')
SET IDENTITY_INSERT [dbo].[Cargo_Tb] OFF
SET IDENTITY_INSERT [dbo].[CargoTipoAtividade_Tb] ON 

INSERT [dbo].[CargoTipoAtividade_Tb] ([IdCargoTipoAtividade], [IdCargo], [IdTipoAtividade]) VALUES (3, 2, 1)
INSERT [dbo].[CargoTipoAtividade_Tb] ([IdCargoTipoAtividade], [IdCargo], [IdTipoAtividade]) VALUES (4, 2, 1)
SET IDENTITY_INSERT [dbo].[CargoTipoAtividade_Tb] OFF
SET IDENTITY_INSERT [dbo].[Cidade_Tb] ON 

INSERT [dbo].[Cidade_Tb] ([IdCidade], [CdUF], [DsNome]) VALUES (1, N'AC', N'Acrelândia')
INSERT [dbo].[Cidade_Tb] ([IdCidade], [CdUF], [DsNome]) VALUES (2, N'AC', N'Assis Brasil')
INSERT [dbo].[Cidade_Tb] ([IdCidade], [CdUF], [DsNome]) VALUES (3, N'AC', N'Brasiléia')
GO
SET IDENTITY_INSERT [dbo].[Cidade_Tb] OFF
SET IDENTITY_INSERT [dbo].[Contato_Tb] ON 

INSERT [dbo].[Contato_Tb] ([IdContato], [DsTelefoneResidencial], [DsTelefoneCelular], [DsTelefoneComercial], [DsFax], [DsObservacaoContato]) VALUES (1, N'(34) 3434-0217', N'(34) 9266-4426', N'(34) 9177-2501', N'(34) 3237-1253', N'Japonês e gordo.')
INSERT [dbo].[Contato_Tb] ([IdContato], [DsTelefoneResidencial], [DsTelefoneCelular], [DsTelefoneComercial], [DsFax], [DsObservacaoContato]) VALUES (2, N'(34) 9266-4426', N'(34) 1231-2312', N'(34) 8992-8822', N'(12) 3123-1233', N'lá aksjek')
SET IDENTITY_INSERT [dbo].[Contato_Tb] OFF
SET IDENTITY_INSERT [dbo].[Empresa_Tb] ON 

INSERT [dbo].[Empresa_Tb] ([IdEmpresa], [IdEndereco], [IdContato], [IdAreaAtuacao], [DsNomeFantasia], [DsRazaoSocial], [NrCnpj], [DsEmail], [DsSumarioEmpresa], [FlAceiteTermo], [DsSite], [DtCadastro], [FlAprovada], [DtAprovacao], [IdUsuarioAprovacao], [DsMotivoRejeicao], [Logo]) VALUES (2, 4, 1, 57, N'William Okano', N'William Okano ME', N'88.775.988/0001-01', N'williamokano@gmail.com', N'Empresa de teste', 1, N'http://www.williamokano.com', CAST(N'2013-10-15 17:59:59.057' AS DateTime), 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Empresa_Tb] ([IdEmpresa], [IdEndereco], [IdContato], [IdAreaAtuacao], [DsNomeFantasia], [DsRazaoSocial], [NrCnpj], [DsEmail], [DsSumarioEmpresa], [FlAceiteTermo], [DsSite], [DtCadastro], [FlAprovada], [DtAprovacao], [IdUsuarioAprovacao], [DsMotivoRejeicao], [Logo]) VALUES (3, 5, 2, 57, N'Empresa razão', N'Empresa fantasi', N'95.762.305/0001-47', N'okano@outlook.com', N'lalala', 1, N'http://www.williamokano.com', CAST(N'2013-10-23 15:19:58.987' AS DateTime), 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Empresa_Tb] OFF
SET IDENTITY_INSERT [dbo].[Endereco_Tb] ON 

INSERT [dbo].[Endereco_Tb] ([IdEndereco], [NrCep], [DsEndereco], [NrEndereco], [DsComplemento], [IdBairro], [IdCidade], [DsBairroOutro]) VALUES (4, N'38.408-102', N'Rua Francisco Vicente Ferreira', N'170', N'AP 106 Bloco R', NULL, 2170, N'Santa Mônica')
INSERT [dbo].[Endereco_Tb] ([IdEndereco], [NrCep], [DsEndereco], [NrEndereco], [DsComplemento], [IdBairro], [IdCidade], [DsBairroOutro]) VALUES (5, N'38.408-102', N'Rua fran', N'170', N'106', NULL, 2170, N'Santa mônica')
INSERT [dbo].[Endereco_Tb] ([IdEndereco], [NrCep], [DsEndereco], [NrEndereco], [DsComplemento], [IdBairro], [IdCidade], [DsBairroOutro]) VALUES (6, N'12.312-312', N'~çal^ÇL~q34 9p9q8pa984~aOSI^IA^SP983 w *P(w 3PA(W*# A_W(* #SA(*# AI#A)W( #A)W# *Â)_W( IAPSLK$ ÂWPK^PSLkãp9*As~çal^ÇL~q34 9p9q8pa984~aOSI^IA^SP983 w *P(w 3PA(W*# A_W(* #SA(*# AI#A)W( #A)W# *Â)_W( IAPSL', N'~çal^ÇL~q34 9p9q8pa9', N'~çal^ÇL~q34 9p9q8pa984~aOSI^IA^SP983 w *P(w 3PA(W*', NULL, 2200, N'Santa mônica')
SET IDENTITY_INSERT [dbo].[Endereco_Tb] OFF
SET IDENTITY_INSERT [dbo].[Projeto_Tb] ON 

INSERT [dbo].[Projeto_Tb] ([IdProjeto], [IdEmpresa], [IdTipoProjeto], [DsNome], [DtInicioEstimado], [DtTerminoEstimado], [DsCodigoReferencia], [FlStatus], [IdUsuarioCriacao], [DtCriacao]) VALUES (3, 2, 1, N'Projeto teste', CAST(N'2013-10-17 00:00:00.000' AS DateTime), CAST(N'2013-10-17 00:00:00.000' AS DateTime), N'asdasd', N'P', 2, CAST(N'2013-10-16 14:21:56.033' AS DateTime))
INSERT [dbo].[Projeto_Tb] ([IdProjeto], [IdEmpresa], [IdTipoProjeto], [DsNome], [DtInicioEstimado], [DtTerminoEstimado], [DsCodigoReferencia], [FlStatus], [IdUsuarioCriacao], [DtCriacao]) VALUES (4, 2, 1, N'Outro projeto teste', CAST(N'2013-10-17 16:32:00.227' AS DateTime), CAST(N'2013-10-17 16:32:00.227' AS DateTime), NULL, N'E', 2, CAST(N'2013-10-16 14:31:24.677' AS DateTime))
INSERT [dbo].[Projeto_Tb] ([IdProjeto], [IdEmpresa], [IdTipoProjeto], [DsNome], [DtInicioEstimado], [DtTerminoEstimado], [DsCodigoReferencia], [FlStatus], [IdUsuarioCriacao], [DtCriacao]) VALUES (11, 2, 1, N'Projeto teste', CAST(N'2013-10-21 00:00:00.000' AS DateTime), CAST(N'2013-12-22 00:00:00.000' AS DateTime), N'ASE13', N'E', 2, CAST(N'2013-10-21 11:45:36.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[Projeto_Tb] OFF
SET IDENTITY_INSERT [dbo].[Tag_Tb] ON 

INSERT [dbo].[Tag_Tb] ([IdTag], [DsTag]) VALUES (1, N'Desenvolvimento')
INSERT [dbo].[Tag_Tb] ([IdTag], [DsTag]) VALUES (2, N'Produção')
INSERT [dbo].[Tag_Tb] ([IdTag], [DsTag]) VALUES (3, N'Correção')
SET IDENTITY_INSERT [dbo].[Tag_Tb] OFF
SET IDENTITY_INSERT [dbo].[TipoAtividade_Tb] ON 

INSERT [dbo].[TipoAtividade_Tb] ([IdTipoAtividade], [DsTituloAtividade], [QtTempoEstimado], [DsAtividade]) VALUES (1, N'Criação Banner', CAST(8.000 AS Decimal(10, 3)), N'Criação de banner')
INSERT [dbo].[TipoAtividade_Tb] ([IdTipoAtividade], [DsTituloAtividade], [QtTempoEstimado], [DsAtividade]) VALUES (2, N'Animação do Banner', CAST(8.500 AS Decimal(10, 3)), N'Animação de banner')
INSERT [dbo].[TipoAtividade_Tb] ([IdTipoAtividade], [DsTituloAtividade], [QtTempoEstimado], [DsAtividade]) VALUES (3, N'Análise', CAST(10.000 AS Decimal(10, 3)), N'Análise')
SET IDENTITY_INSERT [dbo].[TipoAtividade_Tb] OFF
SET IDENTITY_INSERT [dbo].[TipoAtividadeTag_Tb] ON 

INSERT [dbo].[TipoAtividadeTag_Tb] ([IdTipoAtividadeTag], [IdTipoAtividade], [IdTag]) VALUES (11, 7, 47)
INSERT [dbo].[TipoAtividadeTag_Tb] ([IdTipoAtividadeTag], [IdTipoAtividade], [IdTag]) VALUES (12, 7, 46)
SET IDENTITY_INSERT [dbo].[TipoAtividadeTag_Tb] OFF
SET IDENTITY_INSERT [dbo].[TipoProjeto_Tb] ON 

INSERT [dbo].[TipoProjeto_Tb] ([IdTipoProjeto], [DsTipo]) VALUES (1, N'Criação banner')
INSERT [dbo].[TipoProjeto_Tb] ([IdTipoProjeto], [DsTipo]) VALUES (2, N'Análises')
INSERT [dbo].[TipoProjeto_Tb] ([IdTipoProjeto], [DsTipo]) VALUES (3, N'Website 1')
SET IDENTITY_INSERT [dbo].[TipoProjeto_Tb] OFF
SET IDENTITY_INSERT [dbo].[TipoProjetoTipoAtividadePredecessora_Tb] ON 

INSERT [dbo].[TipoProjetoTipoAtividadePredecessora_Tb] ([IdTipoProjetoTipoAtividadePredecessora], [IdTipoProjeto], [IdTipoAtividade], [IdTipoAtividadePredecessora]) VALUES (1, 1, 1, NULL)
INSERT [dbo].[TipoProjetoTipoAtividadePredecessora_Tb] ([IdTipoProjetoTipoAtividadePredecessora], [IdTipoProjeto], [IdTipoAtividade], [IdTipoAtividadePredecessora]) VALUES (2, 1, 2, 1)
INSERT [dbo].[TipoProjetoTipoAtividadePredecessora_Tb] ([IdTipoProjetoTipoAtividadePredecessora], [IdTipoProjeto], [IdTipoAtividade], [IdTipoAtividadePredecessora]) VALUES (3, 3, 3, NULL)
SET IDENTITY_INSERT [dbo].[TipoProjetoTipoAtividadePredecessora_Tb] OFF
INSERT [dbo].[UF_Tb] ([CdUF], [DsUF]) VALUES (N'AC', N'Acre')
INSERT [dbo].[UF_Tb] ([CdUF], [DsUF]) VALUES (N'AL', N'Alagoas')
INSERT [dbo].[UF_Tb] ([CdUF], [DsUF]) VALUES (N'AM', N'Amazonas')
SET IDENTITY_INSERT [dbo].[Usuario_Tb] ON 

INSERT [dbo].[Usuario_Tb] ([IdUsuario], [IdUsuarioNivel], [DsNome], [DsEmail], [DtValidadeLogin], [DsHashLogin], [DsSenha], [IdCargo]) VALUES (2, 2, N'William Okano', N'williamokano@gmail.com', CAST(N'2015-02-07 04:27:57.927' AS DateTime), N'3298D01DEA4C4DFF96092493E2E452EE', N'BA3253876AED6BC22D4A6FF53D8406C6AD864195ED144AB5C87621B6C233B548BAEAE6956DF346EC8C17F5EA10F35EE3CBC514797ED7DDD3145464E2A0BAB413', 1)
INSERT [dbo].[Usuario_Tb] ([IdUsuario], [IdUsuarioNivel], [DsNome], [DsEmail], [DtValidadeLogin], [DsHashLogin], [DsSenha], [IdCargo]) VALUES (3, 2, N'Jonas', N'jonas@jonas.com', CAST(N'2015-02-05 23:07:54.923' AS DateTime), N'C6D9CD5556334F308E1D30C63F341391', N'263FEC58861449AACC1C328A4AFF64AFF4C62DF4A2D50B3F207FA89B6E242C9AA778E7A8BAEFFEF85B6CA6D2E7DC16FF0A760D59C13C238F6BCDC32F8CE9CC62', 1)
SET IDENTITY_INSERT [dbo].[Usuario_Tb] OFF
SET IDENTITY_INSERT [dbo].[UsuarioNivel_Tb] ON 

INSERT [dbo].[UsuarioNivel_Tb] ([IdUsuarioNivel], [DsNivel]) VALUES (1, N'Usuário')
INSERT [dbo].[UsuarioNivel_Tb] ([IdUsuarioNivel], [DsNivel]) VALUES (2, N'Administrador')
SET IDENTITY_INSERT [dbo].[UsuarioNivel_Tb] OFF
ALTER TABLE [dbo].[Atividade_Tb]  WITH CHECK ADD  CONSTRAINT [FK_Atividade_Tb_Atividade_Tb] FOREIGN KEY([IdAtividadePredecessora])
REFERENCES [dbo].[Atividade_Tb] ([IdAtividade])
GO
ALTER TABLE [dbo].[Atividade_Tb] CHECK CONSTRAINT [FK_Atividade_Tb_Atividade_Tb]
GO
ALTER TABLE [dbo].[Atividade_Tb]  WITH CHECK ADD  CONSTRAINT [FK_Atividade_Tb_Projeto_Tb] FOREIGN KEY([IdProjeto])
REFERENCES [dbo].[Projeto_Tb] ([IdProjeto])
GO
ALTER TABLE [dbo].[Atividade_Tb] CHECK CONSTRAINT [FK_Atividade_Tb_Projeto_Tb]
GO
ALTER TABLE [dbo].[Atividade_Tb]  WITH CHECK ADD  CONSTRAINT [FK_Atividade_Tb_TipoAtividade_Tb] FOREIGN KEY([IdTipoAtividade])
REFERENCES [dbo].[TipoAtividade_Tb] ([IdTipoAtividade])
GO
ALTER TABLE [dbo].[Atividade_Tb] CHECK CONSTRAINT [FK_Atividade_Tb_TipoAtividade_Tb]
GO
ALTER TABLE [dbo].[Atividade_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_ProjetoAtividade_UsuarioCriacao] FOREIGN KEY([IdUsuarioCriacao])
REFERENCES [dbo].[Usuario_Tb] ([IdUsuario])
GO
ALTER TABLE [dbo].[Atividade_Tb] CHECK CONSTRAINT [Fk_ProjetoAtividade_UsuarioCriacao]
GO
ALTER TABLE [dbo].[AtividadeApontamentoTempo_Tb]  WITH CHECK ADD  CONSTRAINT [FK_AtividadeApontamentoTempo_Tb_Usuario_Tb] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario_Tb] ([IdUsuario])
GO
ALTER TABLE [dbo].[AtividadeApontamentoTempo_Tb] CHECK CONSTRAINT [FK_AtividadeApontamentoTempo_Tb_Usuario_Tb]
GO
ALTER TABLE [dbo].[AtividadeApontamentoTempo_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_Tempo_Atividade] FOREIGN KEY([IdAtividade])
REFERENCES [dbo].[Atividade_Tb] ([IdAtividade])
GO
ALTER TABLE [dbo].[AtividadeApontamentoTempo_Tb] CHECK CONSTRAINT [Fk_Tempo_Atividade]
GO
ALTER TABLE [dbo].[AtividadeLog_Tb]  WITH CHECK ADD  CONSTRAINT [FK_ProjetoAtividadeHistorico] FOREIGN KEY([IdAtividade])
REFERENCES [dbo].[Atividade_Tb] ([IdAtividade])
GO
ALTER TABLE [dbo].[AtividadeLog_Tb] CHECK CONSTRAINT [FK_ProjetoAtividadeHistorico]
GO
ALTER TABLE [dbo].[AtividadeTag_Tb]  WITH CHECK ADD  CONSTRAINT [FK_AtividadeTag_Tb_Atividade_Tb] FOREIGN KEY([IdAtividade])
REFERENCES [dbo].[Atividade_Tb] ([IdAtividade])
GO
ALTER TABLE [dbo].[AtividadeTag_Tb] CHECK CONSTRAINT [FK_AtividadeTag_Tb_Atividade_Tb]
GO
ALTER TABLE [dbo].[AtividadeTag_Tb]  WITH CHECK ADD  CONSTRAINT [FK_AtividadeTag_Tb_Tag_Tb] FOREIGN KEY([IdTag])
REFERENCES [dbo].[Tag_Tb] ([IdTag])
GO
ALTER TABLE [dbo].[AtividadeTag_Tb] CHECK CONSTRAINT [FK_AtividadeTag_Tb_Tag_Tb]
GO
ALTER TABLE [dbo].[AtividadeUsuario_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_ProjetoAtividade_Usuarios] FOREIGN KEY([IdAtividade])
REFERENCES [dbo].[Atividade_Tb] ([IdAtividade])
GO
ALTER TABLE [dbo].[AtividadeUsuario_Tb] CHECK CONSTRAINT [Fk_ProjetoAtividade_Usuarios]
GO
ALTER TABLE [dbo].[AtividadeUsuario_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_ProjetoAtividadeUsuario_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario_Tb] ([IdUsuario])
GO
ALTER TABLE [dbo].[AtividadeUsuario_Tb] CHECK CONSTRAINT [Fk_ProjetoAtividadeUsuario_Usuario]
GO
ALTER TABLE [dbo].[AtividadeUsuario_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_ProjetoAtividadeUsuario_UsuarioCriacao] FOREIGN KEY([IdUsuarioCriacao])
REFERENCES [dbo].[Usuario_Tb] ([IdUsuario])
GO
ALTER TABLE [dbo].[AtividadeUsuario_Tb] CHECK CONSTRAINT [Fk_ProjetoAtividadeUsuario_UsuarioCriacao]
GO
ALTER TABLE [dbo].[Bairro_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_Bairro_Cidade] FOREIGN KEY([IdCidade])
REFERENCES [dbo].[Cidade_Tb] ([IdCidade])
GO
ALTER TABLE [dbo].[Bairro_Tb] CHECK CONSTRAINT [Fk_Bairro_Cidade]
GO
ALTER TABLE [dbo].[CargoTipoAtividade_Tb]  WITH CHECK ADD  CONSTRAINT [FK_CargoTipoAtividade_Tb_Cargo_Tb] FOREIGN KEY([IdCargo])
REFERENCES [dbo].[Cargo_Tb] ([IdCargo])
GO
ALTER TABLE [dbo].[CargoTipoAtividade_Tb] CHECK CONSTRAINT [FK_CargoTipoAtividade_Tb_Cargo_Tb]
GO
ALTER TABLE [dbo].[CargoTipoAtividade_Tb]  WITH CHECK ADD  CONSTRAINT [FK_CargoTipoAtividade_Tb_TipoAtividade_Tb] FOREIGN KEY([IdTipoAtividade])
REFERENCES [dbo].[TipoAtividade_Tb] ([IdTipoAtividade])
GO
ALTER TABLE [dbo].[CargoTipoAtividade_Tb] CHECK CONSTRAINT [FK_CargoTipoAtividade_Tb_TipoAtividade_Tb]
GO
ALTER TABLE [dbo].[Cidade_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_Cidade_UF] FOREIGN KEY([CdUF])
REFERENCES [dbo].[UF_Tb] ([CdUF])
GO
ALTER TABLE [dbo].[Cidade_Tb] CHECK CONSTRAINT [Fk_Cidade_UF]
GO
ALTER TABLE [dbo].[Empresa_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_Empresa_AreaAtuacao] FOREIGN KEY([IdAreaAtuacao])
REFERENCES [dbo].[AreaAtuacao_Tb] ([IdAreaAtuacao])
GO
ALTER TABLE [dbo].[Empresa_Tb] CHECK CONSTRAINT [Fk_Empresa_AreaAtuacao]
GO
ALTER TABLE [dbo].[Empresa_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_Empresa_Contato] FOREIGN KEY([IdContato])
REFERENCES [dbo].[Contato_Tb] ([IdContato])
GO
ALTER TABLE [dbo].[Empresa_Tb] CHECK CONSTRAINT [Fk_Empresa_Contato]
GO
ALTER TABLE [dbo].[Empresa_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_Empresa_Endereco] FOREIGN KEY([IdEndereco])
REFERENCES [dbo].[Endereco_Tb] ([IdEndereco])
GO
ALTER TABLE [dbo].[Empresa_Tb] CHECK CONSTRAINT [Fk_Empresa_Endereco]
GO
ALTER TABLE [dbo].[Empresa_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_Empresa_UsuarioAprovacao] FOREIGN KEY([IdUsuarioAprovacao])
REFERENCES [dbo].[Usuario_Tb] ([IdUsuario])
GO
ALTER TABLE [dbo].[Empresa_Tb] CHECK CONSTRAINT [Fk_Empresa_UsuarioAprovacao]
GO
ALTER TABLE [dbo].[Endereco_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_Endereco_Bairro] FOREIGN KEY([IdBairro])
REFERENCES [dbo].[Bairro_Tb] ([IdBairro])
GO
ALTER TABLE [dbo].[Endereco_Tb] CHECK CONSTRAINT [Fk_Endereco_Bairro]
GO
ALTER TABLE [dbo].[Endereco_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_Endereco_Cidade] FOREIGN KEY([IdCidade])
REFERENCES [dbo].[Cidade_Tb] ([IdCidade])
GO
ALTER TABLE [dbo].[Endereco_Tb] CHECK CONSTRAINT [Fk_Endereco_Cidade]
GO
ALTER TABLE [dbo].[Projeto_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_Projeto_Empresa] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresa_Tb] ([IdEmpresa])
GO
ALTER TABLE [dbo].[Projeto_Tb] CHECK CONSTRAINT [Fk_Projeto_Empresa]
GO
ALTER TABLE [dbo].[Projeto_Tb]  WITH CHECK ADD  CONSTRAINT [FK_Projeto_Tb_TipoProjeto_Tb] FOREIGN KEY([IdTipoProjeto])
REFERENCES [dbo].[TipoProjeto_Tb] ([IdTipoProjeto])
GO
ALTER TABLE [dbo].[Projeto_Tb] CHECK CONSTRAINT [FK_Projeto_Tb_TipoProjeto_Tb]
GO
ALTER TABLE [dbo].[Projeto_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_Projeto_UsuarioCriacao] FOREIGN KEY([IdUsuarioCriacao])
REFERENCES [dbo].[Usuario_Tb] ([IdUsuario])
GO
ALTER TABLE [dbo].[Projeto_Tb] CHECK CONSTRAINT [Fk_Projeto_UsuarioCriacao]
GO
ALTER TABLE [dbo].[ProjetoInteracao_Tb]  WITH CHECK ADD  CONSTRAINT [FK_ProjetoHistorico_Tb_Projeto_Tb] FOREIGN KEY([IdProjeto])
REFERENCES [dbo].[Projeto_Tb] ([IdProjeto])
GO
ALTER TABLE [dbo].[ProjetoInteracao_Tb] CHECK CONSTRAINT [FK_ProjetoHistorico_Tb_Projeto_Tb]
GO
ALTER TABLE [dbo].[ProjetoInteracao_Tb]  WITH CHECK ADD  CONSTRAINT [FK_ProjetoHistorico_Tb_Usuario_Tb] FOREIGN KEY([IdUsuarioCriacao])
REFERENCES [dbo].[Usuario_Tb] ([IdUsuario])
GO
ALTER TABLE [dbo].[ProjetoInteracao_Tb] CHECK CONSTRAINT [FK_ProjetoHistorico_Tb_Usuario_Tb]
GO
ALTER TABLE [dbo].[TipoAtividadeTag_Tb]  WITH CHECK ADD  CONSTRAINT [FK_TipoAtividadeTag_Tb_Tag_Tb] FOREIGN KEY([IdTag])
REFERENCES [dbo].[Tag_Tb] ([IdTag])
GO
ALTER TABLE [dbo].[TipoAtividadeTag_Tb] CHECK CONSTRAINT [FK_TipoAtividadeTag_Tb_Tag_Tb]
GO
ALTER TABLE [dbo].[TipoAtividadeTag_Tb]  WITH CHECK ADD  CONSTRAINT [FK_TipoAtividadeTag_Tb_TipoAtividade_Tb] FOREIGN KEY([IdTipoAtividade])
REFERENCES [dbo].[TipoAtividade_Tb] ([IdTipoAtividade])
GO
ALTER TABLE [dbo].[TipoAtividadeTag_Tb] CHECK CONSTRAINT [FK_TipoAtividadeTag_Tb_TipoAtividade_Tb]
GO
ALTER TABLE [dbo].[TipoProjetoTipoAtividade_Tb]  WITH CHECK ADD  CONSTRAINT [FK_TipoProjetoTipoAtividade_Tb_TipoAtividade_Tb] FOREIGN KEY([IdTipoAtividade])
REFERENCES [dbo].[TipoAtividade_Tb] ([IdTipoAtividade])
GO
ALTER TABLE [dbo].[TipoProjetoTipoAtividade_Tb] CHECK CONSTRAINT [FK_TipoProjetoTipoAtividade_Tb_TipoAtividade_Tb]
GO
ALTER TABLE [dbo].[TipoProjetoTipoAtividade_Tb]  WITH CHECK ADD  CONSTRAINT [FK_TipoProjetoTipoAtividade_Tb_TipoProjeto_Tb] FOREIGN KEY([IdTipoProjeto])
REFERENCES [dbo].[TipoProjeto_Tb] ([IdTipoProjeto])
GO
ALTER TABLE [dbo].[TipoProjetoTipoAtividade_Tb] CHECK CONSTRAINT [FK_TipoProjetoTipoAtividade_Tb_TipoProjeto_Tb]
GO
ALTER TABLE [dbo].[TipoProjetoTipoAtividadePredecessora_Tb]  WITH CHECK ADD  CONSTRAINT [FK_TipoProjetoTipoAtividadePredecessora_Tb_TipoAtividade_Tb] FOREIGN KEY([IdTipoAtividade])
REFERENCES [dbo].[TipoAtividade_Tb] ([IdTipoAtividade])
GO
ALTER TABLE [dbo].[TipoProjetoTipoAtividadePredecessora_Tb] CHECK CONSTRAINT [FK_TipoProjetoTipoAtividadePredecessora_Tb_TipoAtividade_Tb]
GO
ALTER TABLE [dbo].[TipoProjetoTipoAtividadePredecessora_Tb]  WITH CHECK ADD  CONSTRAINT [FK_TipoProjetoTipoAtividadePredecessora_Tb_TipoAtividade_Tb1] FOREIGN KEY([IdTipoAtividadePredecessora])
REFERENCES [dbo].[TipoAtividade_Tb] ([IdTipoAtividade])
GO
ALTER TABLE [dbo].[TipoProjetoTipoAtividadePredecessora_Tb] CHECK CONSTRAINT [FK_TipoProjetoTipoAtividadePredecessora_Tb_TipoAtividade_Tb1]
GO
ALTER TABLE [dbo].[TipoProjetoTipoAtividadePredecessora_Tb]  WITH CHECK ADD  CONSTRAINT [FK_TipoProjetoTipoAtividadePredecessora_Tb_TipoProjeto_Tb] FOREIGN KEY([IdTipoProjeto])
REFERENCES [dbo].[TipoProjeto_Tb] ([IdTipoProjeto])
GO
ALTER TABLE [dbo].[TipoProjetoTipoAtividadePredecessora_Tb] CHECK CONSTRAINT [FK_TipoProjetoTipoAtividadePredecessora_Tb_TipoProjeto_Tb]
GO
ALTER TABLE [dbo].[Usuario_Tb]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Tb_Cargo_Tb] FOREIGN KEY([IdCargo])
REFERENCES [dbo].[Cargo_Tb] ([IdCargo])
GO
ALTER TABLE [dbo].[Usuario_Tb] CHECK CONSTRAINT [FK_Usuario_Tb_Cargo_Tb]
GO
ALTER TABLE [dbo].[Usuario_Tb]  WITH CHECK ADD  CONSTRAINT [Fk_Usuario_UsuarioNivel] FOREIGN KEY([IdUsuarioNivel])
REFERENCES [dbo].[UsuarioNivel_Tb] ([IdUsuarioNivel])
GO
ALTER TABLE [dbo].[Usuario_Tb] CHECK CONSTRAINT [Fk_Usuario_UsuarioNivel]
GO
ALTER TABLE [dbo].[Atividade_Tb]  WITH CHECK ADD  CONSTRAINT [Check_FlStatus] CHECK  (([FlStatus]='E' OR [FlStatus]='L' OR [FlStatus]='A'))
GO
ALTER TABLE [dbo].[Atividade_Tb] CHECK CONSTRAINT [Check_FlStatus]
GO
ALTER TABLE [dbo].[Projeto_Tb]  WITH CHECK ADD  CONSTRAINT [CK_Projeto_Tb] CHECK  (([FlStatus]='C' OR [FlStatus]='P' OR [FlStatus]='E'))
GO
ALTER TABLE [dbo].[Projeto_Tb] CHECK CONSTRAINT [CK_Projeto_Tb]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'E, P, C (Exec, Paral, Canc)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Projeto_Tb', @level2type=N'COLUMN',@level2name=N'FlStatus'
GO
